body {
    background-color: #BADA55;
    color: blue;}
.foto {width: 500px}

.elementas{

    color: red;
}
.melynas{color: chartreuse;}
#as{
    font-size: 80px;
color: white}
#uniklus_elementas {

    font-size: 50px;
    font-family: Gabriola;
    color: salmon;

}